.Hero {
  height: 80vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000075;
  }

  &__content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    padding-left: 50px;
    color: #fff;

    h1,
    h2 {
      text-align: left;
    }
  }

  &__flag {
    width: 70px;
    height: 50px;
    margin-bottom: 10px;

    &--red {
      background-color: #e9e8e7;
      width: 100%;
      height: 50%;
    }

    &--white {
      background-color: #d4213d;
      width: 100%;
      height: 50%;
    }
  }
}
